include mixins
doctype html 
html 
    head 
        meta(charset="UTF-8")
        meta(name="description" content= metaDescription)
        meta(name="keywords" content= metaKeywords)
        meta(name="author" content= metaAuthor)
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href="/css/bootstrap.min.css" rel="stylesheet" type="text/css")
        link(href="/css/theme.css" rel="stylesheet" type="text/css")
        link(href="https://fonts.googleapis.com/css?family=Archivo+Narrow|VT323" rel="stylesheet")
        script(src="/scripts/jquery-1.12.2.min.js")
        script(src="/scripts/bootstrap.min.js")
        title #{title}
    body 
        div(class="am-body container")
            div(class="am-header")
                div(class="am-header-content")    
                    h1(class="am-header-title") 
                        a(class="am-header-title-no-highlight" href="/") #{siteTitle}
                    p(class="am-header-description") !{description}
                    div(class="am-navbar")
                        h4 !{navbar}
                            
            div
                div(class="am-body-content")
                    if page 
                        div(class="am-page") !{page}
                    else 
                        for post in posts ? posts : []
                            if post.metadata.linkPost || post.metadata.LinkPost
                                +linkPost(post)
                            else
                                +post(post)
                        if readMore
                            div(class="am-post")
                                a(href="/archive")
                                    h4 (More posts ➡)
            div
                div(class="am-footer")
                    div(class="am-footer-ad")
                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <!-- Homepage Footer -->
                        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-9513164240234984" data-ad-slot="3907764153" data-ad-format="auto"></ins>
                        script.
                            (adsbygoogle = window.adsbygoogle || []).push({});
                    p(class="am-footer-text") © Andrew Whipple #{copyrightYear}
